/*******************
 ** ⚠ REQUIRED! ⚠ **
 *******************/
.🍂 {
	word-break: break-word; /* prevent text overflow */
	white-space: pre-wrap; /* preserve whitespace */
	
	/* set your font here: */
	font-family: sans-serif;
}
/* override the defaults for these */
.🍂 * {
	word-break: inherit;
	white-space: inherit;
	font-family: inherit;
}
/* change these from inline to block: */
.🍂 img, .🍂 video, .🍂 audio {
	display: block;
}
/* ruby text doesn't work if set to white-space: pre */
.🍂 rt {
	white-space: pre-line;
}

/* image/video sizing: */
.🍂 img, .🍂 video {
	max-width: 100%;
	max-height: 10vh;
	object-fit: contain;
}
/* table borders */
.🍂 table, .🍂 td, .🍂 th {
	border: 1px solid currentColor;
	border-collapse: collapse;
}

/*𐇵*𐇵*𔓘𐇵**𐇵𖠇𔓘*𖠇
 𐇵𔓘 DEFAULTS *𔓘
 *𔓘𐇵**𔓘𖠇**𐇵*𖠇𐇵*/
/* These are the default values, just in case */
/* You likely don't need most of these */

.🍂, .🍂 * { vertical-align: baseline; }

.🍂 div, .🍂 h2, .🍂 h3, .🍂 h4, .🍂 h5, .🍂 hr, .🍂 pre, .🍂 ol, .🍂 ul, .🍂 blockquote { display: block; }

.🍂 span, .🍂 a, .🍂 br, .🍂 b, .🍂 i, .🍂 u, .🍂 s, .🍂 sub, .🍂 sup, .🍂 code { display: inline; }
.🍂 li { display: list-item; }

.🍂 table { display: table; }
.🍂 tbody { display: table-row-group; }
.🍂 tr { display: table-row; }
.🍂 td, .🍂 th { display: table-cell; }

.🍂 ruby { display: ruby; }
.🍂 rt { display: ruby-text; }
.🍂 rp { display: none; }

.🍂 sub { vertical-align: sub; }
.🍂 sup { vertical-align: super; }
.🍂 b { font-weight: bold; }
.🍂 i { font-style: italic; }
.🍂 u { text-decoration: underline; }
.🍂 s { text-decoration-line: line-through; }

/***************
 ** Suggested **
 ***************/

.🍂 {
	/* prevent things from overflowing the markup element */
	/* (this isn't supported by all browsers yet, but it can't hurt) */
	/* (optional; overflow probably won't happen anyway) */
	contain: content;
	/* damn margins */
	margin: 0;
	/* colors */
	--color: var(--maincolor, black);
	--background: var(--mainbg, white);
	color: var(--color);
	background: var(--background);
}

.🍂 img {
	border: 1px solid gray;
}

.🍂 td, .🍂 th {
	padding-block: 0.2em;
	padding-inline: 0.3em;
}

/*** code and inline code ***/
.🍂 pre, .🍂 code {
	-moz-tab-size: 4;
	tab-size: 4;
	font: monospace;
}
.🍂 pre {
	color: white;
	background-color: black;
	border: 1px solid black;
	padding: 0.5em;
	margin-block: 0.25em;
	word-break: break-all;
}
.🍂 code {
	background-color: rgba(192,192,192,0.5);
	padding: 0 0.2em;
}

/* bg colors */
.🍂 [data-bgcolor="red"]    { background: var(--bgred, #F888); }
.🍂 [data-bgcolor="orange"]  { background: var(--bggreen, #FA08); }
.🍂 [data-bgcolor="yellow"] { background: var(--bgyellow, #FF08); }
.🍂 [data-bgcolor="green"] { background: var(--bgorange, #0F08); }
.🍂 [data-bgcolor="blue"]   { background: var(--bgblue, #08F8); }
.🍂 [data-bgcolor="purple"] { background: var(--bgpurple, #C0F8); }
.🍂 [data-bgcolor="gray"]   { background: var(--bggray, #AAA8); }
.🍂 table { background: var(--background); } /* reset */
