test- {
	border: 1px solid black;
	background: magenta;
	margin: 3px;
	column-gap: 16px;
	white-space: pre-wrap;
	font-family: monospace;
	
	display: grid;
	grid-template:
		"name input time" auto
		"result input other" auto
		/ max-content auto max-content
	;
}
test-.passed {
	background: lime;
}
test-.failed {
	background: red;
}
test- > * { margin: 0; padding: 0; }

test- > #name {
	grid-area: name;
	font-weight: bold;
}
test- > #input {
	grid-area: input;
	font-family: monospace;
}
test- > #result {
	grid-area: result;
}
test- > #time {
	grid-area: time;
}

