html {
	/*white-space: pre-wrap;*/
	word-wrap: break-all;
	font-family: sans-serif;
}

body {
	overflow-y: scroll;
}

#\$output {
	background: white;
}

#\$table_total {
	background: #6fb7c080;
}

#\$table_passed {
	background: #3f9f5f40;
}

#\$table_failed {
	background: #f8606060;
}

#\$table_pending {
	background: #e0c87f70;
}

.test {
	white-space: pre-wrap;
	border: 2px solid black;
	background: magenta;
	margin: 3px;
	font: 0.8em sans-serif;
	display: flex;
	flex-flow: row;
	border-left-width: 4px;
	border-radius: 2px;
}

.test.passed {
	background: #7E6;
	border-color: #186;
}
.test.failed {
	background: #810;
	color: white;
	border-color: #D64;
	height: unset;
}

.test .name {
	padding: 0.1rem;
	padding-left: 0.3rem;
	padding-right: 0;
	font-weight: bold;
	white-space: pre;
	text-overflow: ellipsis;
	overflow: hidden;
}
.test.failed .name {
	width: unset;
}

.test .input {
	border-inline: 1px solid black;
	padding: 0.2rem;
	font: 1em monospace;
	overflow-y: auto;
	height: 5rem;
	resize: none;
	width: 100%;
	box-sizing: border-box;
	line-break: anywhere;
	background: beige;
	appearance: none;
	padding: 2px;
	border: 1px solid black;
}

.test .input:focus {
	outline-offset: -2px;
}

.test > * {
	display: flex;
	flex-flow: column;
	flex: 1 1 0;
}

.test > * > details {
	flex-grow: 1;
}

.test > * > details > summary {
	height: 100%;
	align-items: flex-end;
}

details > summary::before {
	align-self: flex-start;
	flex: 0 0 3rem;
	content: "show";
	font-family: monospace;
}

details[open] > summary::before {
	content: "hide";
}

summary {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
}

code {
	white-space: pre-wrap;
	font-size: 9px;
	background: beige;
	color: black;
	line-break: anywhere;
	border: 1px solid black;
	padding: 1px;
}

.test .compare {
	display: grid;
	grid-template:
		"label1 out1"
		"label2 out2"
		/ max-content auto;
	align-self: flex-start;
	align-items: center;
	margin-left: auto;
}

.test .compare > span {
	text-align: right;
}

.test > :first-child {
	padding-right: 0.5rem;
}

.test > :nth-child(2) {
	padding-right: 0.5rem;
}
